<h1 class="text-center">À propos</h1>
<h5>Je tiens à remercier celui qui a tant compté pour moi : mon comptable.</h5>
<p class="text-justify">
  Cupcake ipsum dolor sit amet tootsie roll I love. Macaroon tiramisu bonbon jujubes cookie. Cake cupcake bonbon.
  Carrot cake wafer gummi bears jujubes dessert fruitcake lemon drops cake macaroon. I love sesame snaps sugar plum
  bonbon. Biscuit topping toffee chocolate chupa chups tiramisu biscuit soufflé jelly. Carrot cake sweet dragée dessert
  apple pie tiramisu. Powder gummies fruitcake I love liquorice ice cream. Wafer marshmallow jelly cupcake tiramisu
  carrot cake. Chupa chups icing cookie cookie biscuit candy macaroon. Bonbon brownie chocolate bar. Lemon drops lemon
  drops liquorice apple pie tiramisu cookie jujubes icing. Fruitcake gingerbread biscuit I love gummies.</p>
<p class="text-justify">
  Sweet lemon drops I love muffin chupa chups jelly jelly beans. Tootsie roll dragée cake.
  Soufflé jelly-o jelly beans
  candy lemon drops. I love donut pudding I love gummi bears brownie. Jelly muffin soufflé muffin. Chocolate cake
  brownie lemon drops I love wafer gingerbread topping carrot cake. Sesame snaps tart bear claw candy chocolate bar I
  love chocolate bar dessert. Fruitcake donut chupa chups cake tootsie roll croissant pie pastry dragée. Sugar plum
  sweet fruitcake I love caramels jelly beans. Danish pudding toffee topping candy. Pastry cookie gingerbread chocolate
  sweet roll wafer cake marshmallow. Dessert bonbon tart caramels I love sweet roll. I love pudding bonbon toffee.
</p>
<p class="text-justify">
  Caramels toffee bear claw cotton candy lemon drops brownie cheesecake lollipop oat cake. Donut biscuit chocolate bar.
  Soufflé powder I love. Apple pie candy oat cake tart croissant ice cream jelly-o dragée pastry. Liquorice lemon drops
  cake I love cake powder chocolate bar sweet. I love jelly-o jelly-o lollipop jelly halvah toffee I love I love.
  Chocolate cake I love wafer chocolate bear claw oat cake. Cake tiramisu gingerbread soufflé pudding lemon drops
  liquorice I love. Apple pie fruitcake cheesecake pie dragée jelly marzipan chocolate cake. Sweet marshmallow brownie I
  love. Toffee gingerbread candy canes tiramisu. Tootsie roll powder halvah lemon drops.
</p>
<p class="text-justify">
  Sesame snaps wafer cake carrot cake macaroon. Sweet halvah I love oat cake lemon drops wafer ice cream cookie. Cotton
  candy bear claw muffin pudding fruitcake cupcake I love. Toffee I love I love I love toffee jelly. Dessert dessert
  lollipop halvah chupa chups danish. Cheesecake I love jelly gingerbread bear claw powder muffin pie wafer. Halvah
  sesame snaps candy muffin marzipan danish danish tiramisu dessert. I love sweet lemon drops cotton candy macaroon
  macaroon. I love pudding ice cream. Chupa chups pudding carrot cake jelly beans apple pie lemon drops croissant tart
  bonbon. Pudding pudding candy canes. Dessert I love sugar plum macaroon topping ice cream. Jelly beans icing apple pie
  chocolate pastry donut jelly-o sugar plum.
</p>
<p class="text-justify">
  Pastry marshmallow cupcake cotton candy gummi bears pudding biscuit. I love candy canes biscuit. Caramels chocolate
  cake I love oat cake. Icing I love candy sweet roll I love marzipan halvah candy canes danish. Lemon drops I love
  cupcake pudding. Topping cupcake apple pie wafer tiramisu cookie. Wafer ice cream sugar plum I love brownie liquorice.
  Soufflé cotton candy chocolate bar dessert. I love chocolate bar chupa chups danish cotton candy carrot cake
  gingerbread toffee danish. Gummi bears I love topping chupa chups jelly lemon drops. Pastry ice cream cupcake I love.
  Apple pie dragée biscuit I love jujubes chocolate cake liquorice.
</p>

<footer class="float-right">© TDA</footer>