<p class="row" style="margin-left : 10px">Recherche par nom
  <input class="form-control col" style="margin-left : 10px" type="texte" placeholder="Entrez le nom d'un collègue existant" #nomCollegue />
  <button class="btn btn-primary" (click)="afficherMatriculeDepuisNom(nomCollegue)">Rechercher</button>
</p>

<p *ngIf="listeMatricules && listeMatricules.length == 0">Aucun collègue trouvé ?
  <button class="btn btn-primary" (click)="afficherTousLesMatricules()">Afficher tous les matricules existants</button>
</p>

<ul class="nav flex-column">
  <li *ngFor="let matriculeCollegue of listeMatricules" class="nav-item">
    <button type="button" class="btn btn-link" (click)="afficherCollegueDepuisMatricule(matriculeCollegue)">{{matriculeCollegue}}</button>
  </li>
</ul>